/* @font-face {
    font-family: waar;
    src: url("/css/font/Arabic.ttf");
} */

:root {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

*{
    /* font-family: waar; */
    font-size: 2.4vmin;
    color:gold;
    padding:0px;
    margin: 0px;
}

body{
    position: absolute;
    left:0px;
    right:0px;
    top: 0px;
    bottom: 0px;
    background-color: lightblue;
}

.stagger-visualizer{
    position: absolute;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    display: grid;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    place-items: center;
    background-clip: border-box;
    background-color: rgba(112, 200, 255, 0.7);
    box-shadow: inset 1px 1px 2px 2px rgba(30, 30, 50, 0.8),inset -1px -1px 2px 2px rgba(30, 30, 50, 0.8);
    border: 2vmin rgb(12, 77, 162) solid;
}

.box {
    position: absolute;
    display: block;
    width:4vmin;
    height:4vmin;
    background-color: rgba(20, 20, 255, 0.7);
    box-shadow: 0px 0px 2px 3px rgba(0, 20, 50, 0.8);
    border: 2px gold solid;
    text-align: center;
}

.picArt,.art{
    position: absolute;
    top:5vmin;
    display: grid;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    place-items: center;
    margin: auto;
    height: 35vmax;
    padding:3vmin;
    box-shadow: 2px 2px 2px 2px rgba(30, 30, 50, 0.7), -2px -2px 2px 2px rgba(30, 30, 50, 0.7);
    background-color: rgba(20, 20, 255, 0.9);
    border: 2px rgb(255, 255, 255) solid;
    transform: translateY(-1000px) scale(0.1);
    transition:all ease-in 1000ms;
    opacity: 0;
 }
.art{
    left:65vmax;
}
.artDownLeft{
    width:35vmax;
    height:35vmax;
    right:unset;
    left:8vmin;
    transform: translateY(0) scale(1);
    border-radius: 50%;
    opacity: 1;
}
.art:target,.artDownRight{
    right: 8vmin;
    width: 46vmax;
    min-height: 82vmin;
    left:unset;
    transform: translateY(0) scale(1);
    opacity: 1;
}


.artcontent{
    position: absolute;
    text-align: center;
    padding:12vmin;
    margin:3.5vmin ;
    text-overflow: clip;
}
.picArt .artcontent{
    display:flex;
    justify-content: center;
    align-content: center;
    place-items: center;
    text-align: center;
    padding:50px ;
}
.picArt img{
    background-color: goldenrod;
    padding:10vmin;
    margin:0;
    border-radius: 50%;
    overflow:hidden;
    max-height:31vmax;
    max-width: 31vmax;
    min-height:31vmax;
    min-width: 31vmax;
}

p{
    position: relative;
    width:90vmax;
    margin:0px auto;
    text-align: left;
    color: rgb(247, 220, 154);
    font-size: 1vmin ;
    text-justify: distribute;
}

a{
    text-decoration: none;
    color:rgb(247, 220, 154);
    cursor: url("images/CVLogo.ani");
}
.menue{
    z-index: 305;
    opacity :0;
    /* transition:Opacity ease-in 1000ms; */
}
ul{
    direction: ltr;
    text-align: left;
    color: rgb(247, 220, 154);

}
.arrowHolder{
    position: absolute;
    bottom:0px ;
    left:0px;
    right:0px;
    height:12.5vmin;
    margin-top: 0px;
    text-align: center;

}

.rightArrow, .leftArrow{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmax;
  font-weight: 600;
  color:blue;
  cursor: pointer;
  margin-top: 0px;
  padding-top: 0px;
}

.rightArrow{
  float: right;
  margin-right:8vmax;
}

.leftArrow{
    float: left;
    margin-left:8vmax;
 
}
.period{
    float: right;
    color:lightgoldenrodyellow;
}
h1,h2{
    text-align: left;
}

.part{
    text-align: center;
 
}
.more{
    cursor: pointer;
}
